In [63]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.feature_extraction import text

In [68]:
import nltk
from nltk.corpus import stopwords

stops = set(stopwords.words('english'))

In [10]:
train_data = pd.read_pickle('../data/processed_train.pkl')
test_data = pd.read_pickle('../data/processed_test.pkl')

In [73]:
data = train_data.append(test_data)

In [74]:
data.reset_index(inplace=True, drop=True)

In [75]:
data.head(2)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."

In [86]:
count_vectorizer1 = text.CountVectorizer(ngram_range=(1, 1), analyzer='word', binary=False,
                                       max_df=0.9, max_features=1000, stop_words=stops)
count_vectorizer2 = text.CountVectorizer(ngram_range=(1, 1), analyzer='word', binary=False,
                                       max_df=0.9, max_features=1000, stop_words=stops)

In [77]:
data['tweet_stemmed'] = data['tweet_stemmed'].apply(lambda x: ' '.join(x))
data['tweet_lemmatized'] = data['tweet_lemmatized'].apply(lambda x: ' '.join(x))

In [87]:
bag_stemmed = count_vectorizer1.fit_transform(data['tweet_stemmed'], )
bag_lemmantized = count_vectorizer2.fit_transform(data['tweet_lemmatized'])

In [88]:
# Отобразим Bag-of-Words модель как DataFrame
feature_names1 = count_vectorizer1.get_feature_names()
pd.DataFrame(bag_stemmed.toarray(), columns = feature_names1)

feature_names2 = count_vectorizer2.get_feature_names()
pd.DataFrame(bag_lemmantized.toarray(), columns = feature_names2)

/usr/local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yet,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
tfidf1 = text.TfidfVectorizer(ngram_range=(1, 1), analyzer='word', binary=False,
                                       max_df=0.9, max_features=1000, stop_words=stops)
tfidf2 = text.TfidfVectorizer(ngram_range=(1, 1), analyzer='word', binary=False,
                                       max_df=0.9, max_features=1000, stop_words=stops)

In [90]:
bag_stemmed = tfidf1.fit_transform(data['tweet_stemmed'], )
bag_lemmantized = tfidf2.fit_transform(data['tweet_lemmatized'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names1 = tfidf1.get_feature_names()
pd.DataFrame(bag_stemmed.toarray(), columns = feature_names1)

feature_names2 = tfidf2.get_feature_names()
pd.DataFrame(bag_lemmantized.toarray(), columns = feature_names2)

/usr/local/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,year,yesterday,yet,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [140]:
count_vectorizer1 = text.CountVectorizer(ngram_range=(1, 3), analyzer='word', binary=True,
                                       max_df=0.9, max_features=1000, stop_words=stops)
tfidf1 = text.TfidfVectorizer(ngram_range=(1, 3), analyzer='word', binary=False,
                                       max_df=0.9, max_features=1500, stop_words=stops)

In [96]:
linear_model.LogisticRegression()

LogisticRegression()

In [104]:
from sklearn.metrics import accuracy_score, f1_score

In [122]:
results = pd.DataFrame()

In [142]:
from sklearn import model_selection, preprocessing, linear_model
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'])

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

count_vectorizer1.fit(trainDF['text'])
xtrain_count =  count_vectorizer1.transform(train_x)
xvalid_count =  count_vectorizer1.transform(valid_x)

tfidf1.fit(trainDF['text'])
xtrain_count2 =  tfidf1.transform(train_x)
xvalid_count2 =  tfidf1.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count2, train_y)
predictions = classifier.predict(xvalid_count2)
acc = accuracy_score(valid_y, predictions)
f1 = f1_score(valid_y, predictions)
params = 'ngram_range=(1, 3), analyzer=word, binary=False, max_df=0.9, max_features=1500'
results = results.append([['tfidf max_features=1500', acc, f1, params]])

In [145]:
results.columns = ['name', 'accuracy', 'f1', 'params']

In [146]:
results

,name,accuracy,f1,params
0,count,0.8332,0.831379,"ngram_range=(1, 1), analyzer=word, binary=Fals..."
0,tfidf,0.8324,0.829328,"ngram_range=(1, 1), analyzer=word, binary=Fals..."
0,tfidf,0.8376,0.835761,"ngram_range=(1, 1), analyzer=word, binary=Fals..."
0,tfidf 3gram,0.8404,0.838134,"ngram_range=(1, 3), analyzer=word, binary=True..."
0,tfidf 1 and 2gram,0.8396,0.834775,"ngram_range=(1, 2), analyzer=word, binary=True..."
0,tfidf max_df=0.7,0.8384,0.830537,"ngram_range=(1, 2), analyzer=word, binary=True..."
0,tfidf max_features=1500,0.8392,0.834568,"ngram_range=(1, 3), analyzer=word, binary=Fals..."

In [148]:
from sklearn.decomposition import PCA

In [153]:
from sklearn.decomposition import TruncatedSVD
from scipy import sparse as sp

In [154]:
X = sp.rand(1000, 1000, density=0.0001)

In [162]:
clf = TruncatedSVD(100)
Xpca = clf.fit_transform(xtrain_count2)

In [163]:
pca = PCA(svd_solver='full')
X_train_pca = pca.fit_transform(Xpca)

In [164]:
Xpca_2 = clf.transform(xvalid_count2)
X_test_pca = pca.transform(Xpca_2)

In [165]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train_pca, train_y)
predictions = classifier.predict(X_test_pca)
acc = accuracy_score(valid_y, predictions)
f1 = f1_score(valid_y, predictions)

In [167]:
print(acc)
print(f1)

0.828
0.8218724109362054

В результате исследования tfidf векторайзер сработал на данном примере лучше,
триграмы с биграмами и униграммами дали лучший рещультат чем тотлько униграммы.
Врядли это означает что мы нашли в текстах устойчивые выражения,
скорее списал бы это на переобучение. Алгоритм уменьшения пространства pca, не дал
прироста в метрике, но значительно повысил эффективность и убрал переобучение.